<% provide(:title, @user.first_name) %>
<div class="row">
	<aside class="span4">
		<section>
			<%= render 'shared/user_info' %>
		</section>
		<section>
	      <%= render 'shared/stats' %>
	    </section>
		<section>
			<%= render 'shared/event_form' unless current_user != @user %>
		</section>
		<h5>
			<%= @user.email %>
		</h5>
	</aside>
	<br>
	<div class="span8">
		<%= render 'follow_form' if signed_in? %>
		<% if @user.events.any? %>
			<h3>Events seen by <%= @user.first_name %> (<%= @user.events.count %>)</h3>
	  	  	<ol class="events">
	    			<%= render 'shared/feed' %>
	  			</ol>
	  	  	<%= will_paginate @events %>
		<% end %>
	</div>
</div>


