<a href="<%= user_path(current_user) %>">
  <%= gravatar_for current_user, size: 52 %>
</a>
<h1>
  <%= full_name_for(@user || current_user) %>
</h1>
<span>
  <% if request.path_parameters[:controller] != 'users' %>
  	<%= link_to "my profile", current_user %>
  <% else %>
  	Profile page
  <% end %>
</span>
<span>
  <%= pluralize(current_user.events.count, "events") %>
</span>