<% provide(:title, @event.name) %>
<h1><%= @event.name %></h1>
<h2><%= link_to full_name_for(@user), @user %></h2>

<h4>Start Date:</h4> <h3><%= @event.start_at.to_date.strftime("%d/%m/%Y %H:%M") %></h3><br>
<h4>End Date:</h4> <h3><%= @event.end_at.to_date.strftime("%d/%m/%Y %H:%M") %></h3>

<% if current_user?(@user) %>


<div class="event-modify-link">
<%= link_to "Edit this Event", edit_event_path %>
</div><br>
<div class="event-modify-link">
<%= link_to "Delete this Event", @event, method: :delete,
                                  data: { confirm: "Really Delete?" } %>
</div>		  
<% end %>
